.navbar a{
  text-decoration : none;
  color :#282c34;
}

.navbar a:hover{
  text-decoration : none;
  color :002c34;
}

.loading{
  position: absolute;
  left: 30%;
  top: 20%;
  border-radius: 25px;
  height: min-content;
  width: fit-content;
}


